/*google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
 
 
/*cores*/
:root {
    --cor-primaria: #000080 ;
    --cor-segundaria:#E2BC26;
    --qs-branco: #eeeeeeda;
    --branco:#fff;
    --preto:#000;
    --textos:#333;
}
 
body.color{
    --cor-primaria: #5BB9F0 ;
    --cor-segundaria:#FFE027;
    --qs-branco: #2b2b2bda;
    --branco:#252525;
    --preto:#fff;
    --textos:#bebebe;
 
}
 
 