/*google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
 
 
/*cores*/
:root {
    --cor-primaria: #000080 ;
    --cor-segundaria:#E2BC26;
    --qs-branco: #eeeeeeda;
    --branco:#fff;
    --preto:#000;
    --textos:#333;
}
 
body.color{
    --cor-primaria: #5BB9F0 ;
    --cor-segundaria:#FFE027;
    --qs-branco: #2b2b2bda;
    --branco:#252525;
    --preto:#fff;
    --textos:#bebebe;
 
}

header{
    background: var(--qs-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(-10rem, );
    box-shadow: 0 .3rem 1.5rem rgb(82, 82, 82);
  }
   
  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
  }
   
  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-primaria);
    transition: all ease .55s;
  }
  .navbar .links-name {
    display: flex;
    gap: 2rem;
    color: #000080;
  }
   
  .navbar .links-name-cor{
    color: var(--preto);
  }
   
  .navbar .links-name-cor:hover{
    color: var(--cor-segundaria);
  }
  .navbar .toggle_btn {
    color: var(--preto);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
   
   .action_btn {
    background-color: var(--cor-primaria);
    color: var(--branco);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    transition: all ease .55s;
  }
  .action_btn:hover{
    background-color: var(--cor-segundaria);
  }
   
   
  /*DROPDOWN*/
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu.open{
    height: 300px;
  }
   
  .dropdown_menu a {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--Azul-Marinho);
  }
   
  .dropdown_menu a:hover{
    color: var(--branco);
  }
   
   
  .dropdown_menu .action_btn_dropdown{
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: var(--branco);
  }
   
   
  /*HEADER RESPONSIVO*/
  @media(max-width:992px){
    .navbar .links-name,
    .navbar .action_btn{
      display: none;
    }
   
    .navbar .toggle_btn{
      display: block;
    }
    .dropdown_menu{
      display: block;
    }
  }
   
  @media(max-width:576px){
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }

   
#darkmode {
    font-size: 30px;
    cursor: pointer;
    color: var(--textos);
    margin-left: 10px;
  }

  /*banner*/
 
#about-page-banner{
    width: 100%;
    height: 385px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-image: url('/img_landingpage/src/EmpresaLd.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow: hidden;
}

#about-gradient-banner {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height:100% ;
    display: flex;
    justify-content: center;
    place-items: center;
}

.about-banner-content{
    text-align: center;
    margin-top: 20px;
}

.about-banner-content h1{
    color: var(--branco);
    font-weight: 500;
    font-size: 60px;
}

.about-banner-content h2{
    color: var(--branco);
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
}

  /*texto 1*/

.about-page-content{
    margin-top: 60px;
  }

  .about-page-content .about-section1{
    padding: 5px;
    width: 65%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
  }

  .about-page-content .about-section .about-section-heading{
    color: var(--textos);
    font-size: 40px;
    font-weight: 500;
  }
  .border-line{
    border: 2px solid var(--cor-segundaria);
    width: 100px;
    border-radius: 20px;
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .about-section1-text {
    font-family: 'Poppins';
    color: var(--textos);
    font-size: 20px;
    line-height: 1.5s;
    -webkit-font-smoothing:antialiased;
  }

   /*texto 2*/

.body-about2{
  min-height:60vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria);
  margin: 5%;
   }

   .about-section2{
  background: url('/img_landingpage/src/EmpresaLd.jpg') no-repeat left;
  background-size: 55%;
  
  overflow: hidden;
  padding: 100px 0;
   }

   .inner-section{
width: 55%;
float: right;
background-color: var(--qs-branco);
padding: 140px;
box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
   }

   .inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
   }
   .about-section2-text{
    font-size: 20px;
    color: var(--textos);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
   }

   @media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
   }

   @media screen and (max-width:1000px) {
    .about-section2{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section {
        width: 100%;
    }
   }

   @media screen and (max-width:600px){
    .about-section2{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
   }

   /*texto 3*/

   .wrapper-section3{
    min-height: 40vh;
    width: 100%;
    background-image:linear-gradient rgba(0,0,0, 0.75) url('/img_landingpage/src/empresaLd2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .testimonial {
    padding: 30px 100px;
   }

   .section3 h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
   }

   .section3 h1:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: var(--branco);
    display: block;
    margin: auto;
   }