/*google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}


/*cores*/
:root {
  --cor-primaria: #000080;
  --cor-segundaria: #E2BC26;
  --qs-branco: #eeeeeeda;
  --branco: #fff;
  --preto: #000;
  --textos: #333;
}

body.color {
  --cor-primaria: #5BB9F0;
  --cor-segundaria: #FFE027;
  --qs-branco: #2b2b2bda;
  --branco: #252525;
  --preto: #fff;
  --textos: #bebebe;

}



body {
  background-color: var(--branco)
}

img {
  width: 100%;
}

/*header*/

header {
  background: var(--qs-branco);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-10rem, );
  box-shadow: 0 .3rem 1.5rem rgb(82, 82, 82);
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-primaria);
  transition: all ease .55s;
}

.navbar .links-name {
  display: flex;
  gap: 2rem;
  color: #000080;
}

.navbar .links-name-cor {
  color: var(--preto);
}

.navbar .links-name-cor:hover {
  color: var(--cor-segundaria);
}

.navbar .toggle_btn {
  color: var(--preto);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--cor-primaria);
  color: var(--branco);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  overflow: hidden;
  transition: all ease .55s;
}

.action_btn:hover {
  background-color: var(--cor-segundaria);
}


/*DROPDOWN*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 300px;
}

.dropdown_menu a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--Azul-Marinho);
}

.dropdown_menu a:hover {
  color: var(--branco);
}


.dropdown_menu .action_btn_dropdown {
  border-radius: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--cor-primaria);
  color: var(--branco);
}


/*HEADER RESPONSIVO*/
@media(max-width:992px) {

  .navbar .links-name,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width:576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/*Home*/

.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 100%;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: var(--branco);
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title {
  font-weight: bold;
  font-size: 10em;
  list-style: 1.3em;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
  color: var(--preto);
}

.carousel .list .item .content button {
  border: none;
  background-color: var(--qs-branco);
  letter-spacing: 3px;
  font-family: Poppins;
  font-size: 500;
  color: var(--preto);


}

.carousel .list .item .content button:nth-child(2) {
  background-color: var(--cor-segundaria);
  color: var(--preto);
  border: 1px solid var(--qs-branco);
}



/*thumbnail da home */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: bold;
  color: var(--preto);
}

.thumbnail .item .content .des {
  color: var(--branco);
}

/*RESPONSIVO THUMBNAIL*/
@media(max-width:1000px) {
  .thumbnail {
    left: 30%;
    right: 30%;

  }
}

@media(max-width:796px) {

  .thumbnail {
    left: 10%;

  }

  .arrows {
    margin-top: -20%;
    margin-right: -25%;
  }
}

@media(max-width:620px) {
  .thumbnail {
    display: none;

  }
}

/*arrows*/
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--branco);
  border: none;
  font-family: monospace;
  color: var(--preto);
  font-weight: bold;
  font-size: large;
  transition: .5s;
  z-index: 100;
}

.arrows button:hover {
  background-color: var(--qs-branco);
  color: var(--branco);
}

/*transição*/
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
  }
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .des {
  animation-delay: 1.6s;
}

.carousel .list .item:nth-child(1) .buttons {
  animation-delay: 1.8s;
}

/*next click*/
.carousel .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 150px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail .5 linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/*prev click*/
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}

.carousel.prev .list .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showthumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

/*time*/
.time {
  width: 0%;
  height: 5px;
  background-color: var(--branco);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
  to {
    width: 0;
  }
}

/*Home responsiva*/

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }

  .carousel .list .item .content .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 270px) {
  .carousel .list .item .content {
    margin-right: -100%;
    margin-left: 4%;
  }

  .carousel .list .item .content .title {
    font-size: 30px;
  }

}

/*categorias*/
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--preto);
}

.heading span {
  color: var(--cor-segundaria);
}

.categories .button_cate {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 3rem;
  background: var(--cor-primaria);
  font-size: 1.5rem;
  color: var(--branco);
  cursor: pointer;
  letter-spacing: 3px;
}

.categories {
  margin: 5%;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.categories-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
}

.categories-container .box img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.categories-container .box h2 {
  font-size: 0.8rem;
  font-weight: 600;
}

.categories-container .box span {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.categories-container .box h1 {
  padding: 5px;
  font-size: 1.5rem;
  background: var(--cor-segundaria);
  color: var(--branco);
  border-radius: 5rem;
  margin-top: 4rem;
  position: absolute;
  bottom: -8%;
  display: none;
}

.categories-container .box h1:hover {
  background: #e0eb7b;
  transition: 0.2 all linear;
}

.categories-container .box:hover h1 {
  display: block;
  transition: 0.2 all linear;
}

.box1 {
  background: #ffdada;
}

.box2 {
  background: #fff6da;
}

.box3 {
  background: #e6ffda;
}

.box4 {
  background: #dafffa;
}

.box5 {
  background: #f3daff;
}

@media(max-width:650px) {
  .categories {
    margin-top: 10%;
  }
}

@media(max-width:450px) {
  .categories {
    margin-top: 20%;
  }

  .categories .button_cate {
    font-size: 1rem;
  }
}

/*About*/
.about_site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8.5rem;
  padding: 0 10%;
  min-height: 30vh;
}

.about_site .image_site img {
  width: 25vw;
  animation: float 3s linear infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3.5rem);
  }
}

.about_site .content_site h3 {
  font-size: 3.2rem;
  color: var(--textos);
  text-transform: uppercase;
}

.about_site .content_site h3 span {
  color: var(--cor-primaria);
  text-transform: uppercase;
}

.about_site .content_site p {
  font-size: 1.5rem;
  color: var(--preto);
  padding: 1rem 0;
}

.btn_site {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--cor-primaria);
  font-size: 1.5rem;
  color: var(--branco);
  cursor: pointer;
  box-shadow: 0 .5rem 1ren rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

.btn_site:hover {
  transform: scale(1.1);
}

@media (max-width:991px) {

  .about_site {
    padding: 0 3%;
    padding-top: 7.5rem;
  }

}

@media (max-width:768px) {
  .about_site {
    flex-flow: column-reverse;
    padding: 10%;
  }

  .about_site .image_site img {
    width: 100%;
  }

  .about_site .content_site h3 {
    font-size: 2.6rem;
  }

  .about_site .content_site p {
    font-size: 1rem;
  }


}

/*Fotos*/
.content-card {
  padding: 10px 10%;
}

#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box-card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box-card img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, var(--preto) 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: bebas neue;
  font-size: 30px;
  letter-spacing: 2px;
  color: var(--branco);
  font-family: poppins;
}

.overlay p {
  color: var(--branco);
}

.overlay a {
  margin-top: 10px;
  color: var(--preto);
  text-decoration: none;
  font-size: 14px;
  background: var(--branco);
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
}

.box-cardLhover img {
  transform: scale(1.2);
}

.box-card:hover .overlay {
  height: 100%;
}

/*About empresa*/
.about_empresa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  min-height: 50vh;
}

.about_empresa .image_empresa img {
  width: 25vw;
  animation: float 3s linear infinite;

}

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3.5rem);
  }
}

.about_empresa .content_empresa h3 {
  font-size: 3.2rem;
  color: var(--textos);
  text-transform: uppercase;
}

.about_empresa .content_empresa h3 span {
  color: var(--cor-segundaria);
  text-transform: uppercase;
}

.about_empresa .content_empresa p {
  font-size: 1.5rem;
  color: var(--textos);
  padding: 1rem 0;
}

.btn_empresa {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--cor-segundaria);
  font-size: 1.5rem;
  color: var(--branco);
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

.btn_empresa:hover {
  transform: scale(1.1);
}

@media (max-width:991px) {

  .about_empresa {
    padding: 0 3%;
    padding-top: 7.5rem;
  }

}

@media (max-width:768px) {
  .about_empresa {
    flex-flow: column-reverse;
    padding: 10%;
  }

  .about_empresa .image_empresa img {
    width: 100%;
  }

  .about_empresa .content_empresa h3 {
    font-size: 2.6rem;
  }

  .about_empresa .content_empresa p {
    font-size: 1rem;
  }


}


/*Planos*/

.heading-planos {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.7rem;
  font-family: poppins;
  color: var(--cor-segundaria);
}

.btn_planos {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--cor-segundaria);
  font-size: 1.3rem;
  color: var(--branco);
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

.planos .box-container-planos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5%;
}

.planos .box-container-planos .box-planos {

  margin: 2%;
  padding: 4rem;
  background: var(--branco);
  border: 0.5rem solid var(--cor-primaria);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.planos .box-container-planos .box-planos .icon-plan {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  color: var(--branco);
  background: var(--cor-segundaria);
  display: inline-block;
}

.planos .box-container-planos .box-planos h3 {
  font-size: 1.7rem;
  color: var(--cor-primaria);

}

.planos .box-container-planos .box-planos .price {
  font-size: 3rem;
  padding: 1rem 0;
  color: var(--preto)
}

.planos .box-container-planos .box-planos .price span {
  font-size: 1rem;
  color: var(--preto);

}

.planos .box-container-planos .box-planos .list-plan {
  padding: 1rem 0;
  list-style: none;
}

.planos .box-container-planos .box-planos .list-plan p {
  padding: 0.5rem 0;
  font-size: 1.3rem;
  color: var(--preto);
}

.planos .box-container-planos .box-planos .list-plan p .fa-check {
  color: lightgreen;
}

.planos .planos_container .box-planos .list-plan p .fa-times {
  color: red;
}

#darkmode {
  font-size: 30px;
  cursor: pointer;
  color: var(--textos);
  margin-left: 10px;
}

/*About*/
.about-section {
  padding-block: 4rem;
  margin: 5%;
  text-align: center;
  background: var(--cor-primaria);
  border-radius: 1.5rem;
  border: 2px solid var(--branco);
  color: var(--branco);
}

.about-section .header-section {
  font-weight: 700;
  font-size: 40px;
  color: var(--branco);
}

.about-section .header-section span {
  color: var(--cor-segundaria);
}

.description-section {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--branco);
}

.btn-about {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--cor-segundaria);
  font-size: 1.3rem;
  color: var(--branco);
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

/*Equipe*/

.equipe{
  margin: 5%;
}
.wrapper{
  
  width: 100%;
 position: relative;
}

.wrapper i{
  height: 50px;
  width: 50px;
  background: var(--branco);
  color: var(--preto);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 15%;

  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child{
  left: -22px;
}

.wrapper i:last-child{
 right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  margin: 3%;
 overflow: hidden;
} 
.carousel :where(.card, .img){
  display: flex;
  align-items: center;
 justify-content: center;

} 
.carousel .card {
  height: 342px;
  list-style: none;
  background: var(--cor-primaria);
  border-radius: 8px;
 display: flex;
 cursor: pointer;
 padding-bottom: 15px;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.card .img img{
  width: 140px;
  height: 140px;
  object-fit: cover;
 border-radius: 50%;
 border: 4px solid var(--branco);
}
.card .img{
  background: var(--cor-segundaria);
  width: 146px;
  height: 146px;
  border-radius: 50%;
}

.card h2{
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: var(--qs-branco);
}

.card span{
  color: var(--branco);
  font: 1.31rem;
}

@media screen and (max-width: 900px){
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 9px);
  }

}

@media screen and (max-width: 600px){
  .wrapper .carousel{
    grid-auto-columns: 100%;
  }

}