
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*cores*/
:root {
    --cor-primaria: #3C5F51;
    --cor-segundaria: #AC86DD;
    --qs-branco: #eeeeeeda;
    --branco: #fff;
    --preto: #000;
    --textos: #333;
  }
  
  body.color {
    --cor-primaria: #B6BF89;
    --cor-segundaria: #A88EFF;
    --qs-branco: #2b2b2bda;
    --branco: #252525;
    --preto: #fff;
    --textos: #bebebe;
  
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--extra-light);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  padding: 2rem;
  margin: auto;
  display: grid;
  color: var(--text-dark);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header h1 {
  font-size: 4rem;
  font-weight: 900;
}
.container h3 {
  font-size: 2rem;
  font-weight: 900;
}
.container img {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.daw {
  display: grid;
  gap: 2rem;
  place-content: baseline;
}
.daw p {
  font-variation-settings: 1rem;
}

.daw button {
    background-color: var(--cor-primaria);
    color: var(--branco);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    transition: all ease .55s;
  }

.daw button:hover {
  background-color: var(--cor-segundaria);
}

@media (min-width: 640px) {
  nav {
    max-width: 1000px;
  }
  .container {
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .container img {
    max-width: 550px;
    grid-area: 1/1/3/2;
  }
  .daw {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .container {
    column-gap: 5rem;
  }
  .header h1 {
    font-size: 6rem;
  }
  .header h3 {
    font-size: 2.5rem;
  }
}
