@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}


/*cores*/
:root {
    --cor-primaria: #000080;
    --cor-segundaria: #FF8100;
    --qs-branco: #eeeeeeda;
    --branco: #fff;
    --preto: #000;
    --textos: #333;
}

body.color {
    --cor-primaria: #5BB9F0;
    --cor-segundaria: #FFE027;
    --qs-branco: #2b2b2bda;
    --branco: #252525;
    --preto: #fff;
    --textos: #bebebe;

}



header .header-top {
    background: var(--branco);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
}

header .header-top .logo {
    font-size: 26px;
    font-weight: bolder;
    color: var(--cor-primaria);
    align-items: center;
    display: flex;
}

header .header-top .logo span {
    color: var(--cor-segundaria);
}

header .header-top .logo img {
    width: 60px;
    height: 60px;
}

header .header-top .icons {
    display: flex;
    margin-right: 10%;
    gap: 10%;
}

header .header-top .icons div,
header .header-top .icons a {
    font-size: 25px;
    margin-left: .5rem;
    color: var(--preto);
    cursor: pointer;
    padding: 2%;
}

header .header-top .icons div:hover,
header .header-top .icons a:hover {
    color: var(--cor-segundaria);
}

#search-btn {
    display: none;
}

header .header-main .container {
    width: 100%;
    height: 80px;
    background: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;

}

header .header-main .search-form {
    width: 70%;
    height: 40px;
    border: 1px solid var(--preto);
    overflow: hidden;
    background: var(--branco);
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 2%
}

header .header-main .search-form input {
    font-size: 16px;
    padding: 0 12px;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--preto);
}

header .header-main .search-form label {
    border: 1px solid var(--preto);
    font-size: 20px;
    padding: 10%;
    color: var(--preto);
    cursor: pointer;
}

header .header-main .search-form label:hover {
    color: var(--cor-segundaria);
}

/*serviços*/
.capa { 
    margin: 5%;
    align-items: center;
}

.capa-img img {
    width: 450px;
}

@media (max-width:1200px) {
    .capa {
        display: grid;
        margin: 3%;
    }

    .capa-img {
        display: grid;
        margin: 3%;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width:500px) {
    .capa-img img {
        width: 250px;
    }

    .capa {
        align-items: center;
        justify-content: center;
        display: grid;
        justify-items: center;
    }

    .servicos .box-container .box-ser {
        flex: 1 0 10rem;
        width: 50%;
    }
}

.servicos .heading {
    margin-left: 10%;
    text-align: left;
    font-size: 2.0rem;
    padding: 0.5rem;
    color: var(--preto);
}

.servicos .heading span {
    color: var(--cor-primaria);
}

.servicos .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2% 2% 2% 10%;
}

.servicos .box-container .box-ser {
    flex: 1 1 calc(33.33% - 1rem);
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, 0.103);
    cursor: pointer;
    border-radius: .5rem;
    background: var(--branco);
}

@media screen and (max-width:1200px) {
    .servicos .box-container .box-ser {
        flex: 1 0 10rem;
    }
}

.servicos .box-container .box-ser .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1;
    transition: ease .7s;
    opacity: .8;
}

.servicos .box-container .box-ser:hover{
    background: #000;
}

.servicos .box-container .box-ser .content {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 3;
}

.servicos .box-container .box-ser .content img {
    margin: 1.5rem 0;
}

.servicos .box-container .box-ser .content h3 {
    font-size: 2.5rem;
    color: var(--preto);
}

.servicos .box-container .box-ser:hover .image {
    bottom: 0;
}
.servicos .box-container .box-ser:hover .content {
    color: var(--branco);
}

/*footer*/

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #585858;
    color: var(--branco);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col .logo {
    width: 80px;
    margin-bottom: 30px;
    display: flex;
    font-size: 26px;
    font-weight: bolder;
    color: var(--cor-primaria);
    align-items: center;
}

.col .logo span {
    color: var(--cor-segundaria);
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--branco);
}

ul li a:hover {
    color: var(--cor-segundaria);
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--qs-branco);
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: var(--qs-branco);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underlines span {
    width: 15px;
    height: 100%;
    background: var(--branco);
    border: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}


@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }
}
