<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus - Register</title>
    <link rel="stylesheet" href="infopessoal.css">
</head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<!--CSS-->
<body>
   
    <div class="container">
        <div class="img-lateral">
            <img src="Pet-Friendly-Topo.png" alt="">
        </div>
      


        <div class="form-container">
            <h1>Coloque seus dados</h1>
            <p>Antes de cadastrar sua empresa, coloque suas informações para um processo mais facil</p>
            <form action="#" method="post">
                
                <section class=" input-field <%= avisoErro.nome %>">

                    <i class="fas fa-user"></i>
                    <input id="nome" name="nome"  required type="text" placeholder="Nome completo"/>
              
                  </section>
                
                  <section class="input-field <%= avisoErro.email %>">

                    <i class="fas fa-envelope"></i>
                    <input name="email" id="email"  required type="email" placeholder="Email" />
              
                  </section>

                  <section class="input-field <%= avisoErro.celular %>">

                    <i class="fas fa-user"></i>
                    <input id="celular" name="celular"  required type="text" placeholder="Celular" />
              
                  </section>
            
                <button class="button-CADASTRAR" type="submit">Cadastrar Agora</button>
            
            </form>
         
            </div>
        
        </div>
    </div>
</body>
</html>
