<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Login Page | Prilist</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="Login.css">
</head>
                 <!-----HTML----->
<body>
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>

        <h3 class="title">Vamos trabalhar juntos!</h3>
        <p>Coloque as informações solicitadas.</p>
      
        <div class="progress-bar">
          <div class="step">
             <p>
                Name
             </p>
             <div class="bullet">
                <span>1</span>
             </div>
             <div class="check fas fa-check"></div>
          </div>
          <div class="step">
             <p>
                Contact
             </p>
             <div class="bullet">
                <span>2</span>
             </div>
             <div class="check fas fa-check"></div>
          </div>
          <div class="step">
             <p>
                Birth
             </p>
             <div class="bullet">
                <span>3</span>
             </div>
             <div class="check fas fa-check"></div>
          </div>
          <div class="step">
             <p>
                Submit
             </p>
             <div class="bullet">
                <span>4</span>
             </div>
             <div class="check fas fa-check"></div>
          </div>
       </div>
        

        <div class="login">
         <form action="#">

  
           <div class="page-form slide-page">
           <section class=" text-input <%= avisoErro.nome %>">
            <i class="ri-user-fill "></i>
            <input id="nome" name="nome"  required type="text" placeholder="Nome completo"/>
          </section>

          <section class="text-input <%= avisoErro.email %>">
            <i class="ri-lock-fill"></i>
            <input name="email" id="email"  required type="email" placeholder="Email" />
          </section>

          <div class="field">
            <button class="firstNext next">Next</button>
         </div>



         <div class="page-form">
            <section class=" text-input <%= avisoErro.nome %>">
             <i class="ri-user-fill "></i>
             <input id="nome" name="nome"  required type="text" placeholder="Nome completo"/>
           </section>
 
           <section class="text-input <%= avisoErro.email %>">
             <i class="ri-lock-fill"></i>
             <input name="email" id="email"  required type="email" placeholder="Email" />
           </section>
 
           <div class="field btns">
            <button class="prev-1 prev">Previous</button>
            <button class="next-1 next">Next</button>
         </div>
        </div>


            <a href="#" class="forgot">Forgot Username/Password?</a>
            <div class="create">
                <a href="#">Create Your Account</a>
                <i class="ri-arrow-right-fill"></i>
            </div>
        </div>
       </form>
    </div>
</body>

</html>