<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" href="Login.css" />
  </head>
  <body>
  

    <main>
      <div class="box">
        <div class="inner-box">

            <div class="form-container">

                  <div class="progress-bar">
                    <div class="step">
                       <p>
                          Name
                       </p>
                       <div class="bullet">
                          <span>1</span>
                       </div>
                            
                    <div class="step">
                       <p>
                          Submit
                       </p>
                       <div class="bullet">
                          <span>4</span>
                       </div>
                       <div class="check fas fa-check"></div>
                    </div>
                 </div>
        

                <h1>Coloque seus dados</h1>
                <p>Antes de cadastrar sua empresa, coloque suas informações para um processo mais facil</p>
                <form action="#" method="post">
                    
                    <section class=" input-field <%= avisoErro.nome %>">
    
                        <i class="fas fa-user"></i>
                        <input id="nome" name="nome"  required type="text" placeholder="Nome completo"/>
                  
                      </section>
                    
                      <section class="input-field <%= avisoErro.email %>">
    
                        <i class="fas fa-envelope"></i>
                        <input name="email" id="email"  required type="email" placeholder="Email" />
                  
                      </section>
    
                      <section class="input-field <%= avisoErro.celular %>">
    
                        <i class="fas fa-user"></i>
                        <input id="celular" name="celular"  required type="text" placeholder="Celular" />
                  
                      </section>

                      <div class="field">
                        <button class="firstNext next">Next</button>
                     </div>
                  </div>
                
                    <a href="/cadastroempresa/"><button class="button-CADASTRAR" type="submit">Cadastrar Agora</button></a>

                    <div class="page">
                      <div class="title-info">
                         <h1>Endereço da Loja</h1>
                      <p>Preencha as informações de endereço da sua loja.</p>
                   </div>
    
    
                      <section class=" input-field <%= avisoErro.nome %>">
        
                         <i class="fas fa-user"></i>
                         <input id="nome" name="nome"  required type="text" placeholder="Nome completo"/>
                   
                       </section>
    
                       <section class="input-field <%= avisoErro.email %>">
        
                         <i class="fas fa-envelope"></i>
                         <input name="email" id="email"  required type="email" placeholder="Email" />
                   
                       </section>
     
                       <section class="input-field <%= avisoErro.celular %>">
     
                         <i class="fas fa-user"></i>
                         <input id="celular" name="celular"  required type="text" placeholder="Celular" />
                   
                       </section>
    
                      <div class="field btns">
                         <button class="prev-1 prev">Previous</button>
                         <button class="next-1 next">Next</button>
                      </div>
                   </div>
    
    
                   <div class="page">
                      <div class="title-info">
                         <h1>Endereço da Loja</h1>
                      <p>Preencha as informações de endereço da sua loja.</p>
                   </div>
    
    
                      <section class=" input-field <%= avisoErro.nome %>">
        
                         <i class="fas fa-user"></i>
                         <input id="nome" name="nome"  required type="text" placeholder="Nome completo"/>
                   
                       </section>
    
                       <section class="input-field <%= avisoErro.email %>">
        
                         <i class="fas fa-envelope"></i>
                         <input name="email" id="email"  required type="email" placeholder="Email" />
                   
                       </section>
     
                       <section class="input-field <%= avisoErro.celular %>">
     
                         <i class="fas fa-user"></i>
                         <input id="celular" name="celular"  required type="text" placeholder="Celular" />
                   
                       </section>
    
                      <div class="field btns">
                         <button class="prev-2 prev">Previous</button>
                         <button class="next-2 next">Next</button>
                      </div>
                   </div>
    


                <p class="text">
                  Já tem uma conta comercial? 
                    <a href="#">Login</a> 
                </p>                                                                                                                                                               
                </form>
             
                </div>
            
         <!-- <div class="carousel">
            <div class="images-wrapper">
              <img src="./img/image1.png" class="image img-1 show" alt="" />
              <img src="./img/image2.png" class="image img-2" alt="" />
              <img src="./img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own courses</h2>
                  <h2>Customize as you like</h2>
                  <h2>Invite students to your class</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="Login.js"></script>
  </body>
</html>